@using LawFirmTemplate.Models;
@model Slider;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">Genel Ayarlar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label asp-for="Id" class="form-label">Id</label>
                                    <textarea class="form-control" asp-for="Id" rows="1" readonly></textarea>
                                </div>
                                <label for="formFile" class="form-label">Slider</label>
                                <div class="d-flex align-items-center align-items-sm-center gap-4">
                                    <img src="@Model.Image" alt="user-avatar" class="d-block rounded" height=auto width="80%" id="uploadedAvatar">
                                </div>
                                <div class="d-flex align-items-start align-items-sm-center gap-4">
                                    <div class="button-wrapper">
                                        <label for="Image" class="btn btn-primary me-2 mb-4" tabindex="0">
                                            <span class="d-none d-sm-block">Slider Ekle</span>
                                            <i class="bx bx-upload d-block d-sm-none"></i>
                                            <input type="file" id="Image" name="Image" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                                        </label>
                                        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="mb-3">
                                <button type="submit" class="btn btn-lg btn-primary mt-5 ">Değişikleri Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

