@using LawFirmTemplate.Models;
@model List<Article>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-dark font-weight-bold text-8">Makaleler</h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="#">Anasayfa</a></li>
                        <li class="active">Makaleler</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <div class="blog-posts">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4">
                                <article class="post post-medium border-0 pb-0 mb-5">
                                    <div class="post-image">
                                        <a href="blog-post.html">
                                            <img src="@item.CardImage" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="blog-post.html">@item.Title</a></h2>
                                        <p>@item.CardDescription</p>
                                        <div class="post-meta">                                            
                                            <span><i class="far fa-folder"></i> <a href="#">Makale</a> </span>                                            
                                            <span class="d-block mt-2">
                                        <a href="/Articles/Detail/@item.Id" class="btn btn-s btn-outline-danger text-1 text-uppercase">Devamını Oku</a>
                                        </span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="pagination float-right">
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

