
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">Hakkımızda</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">Başlık</h5>
                    <div class="card-body">
                        <div>
                            <input type="text"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Başlık"
                                   aria-describedby="defaultFormControlHelp" />
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <h5 class="card-header">Ön Açıklama</h5>
                    <div class="card-body">
                        <div>
                            <div>
                                <label for="exampleFormControlTextarea1" class="form-label">Ön Açıklama</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <h5 class="card-header">Açıklama</h5>
                    <div class="card-body">
                        <div>
                            <div>
                                <label for="exampleFormControlTextarea1" class="form-label">Açıklama</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-lg btn-primary mt-5 justify-content-end">Değişikleri Kaydet</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




