@using LawFirmTemplate.Models;
@model List<PracticeAreas>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-dark font-weight-bold text-8">Faaliyet Alanlarımız</h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="#">Anasayfa</a></li>
                        <li class="active">Faaliyet Alanlarımız</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-center mb-4">
                <h2 class="font-weight-bold text-8 mb-3 appear-animation animated fadeIn appear-animation-visible " data-appear-animation="fadeIn" style="animation-delay: 100ms;">Explore All Possibilities</h2>
                <p class="line-height-9 text-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;"><span class="opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat id sapien ac varius. Fusce hendrerit ligula a consectetur ullamcorper. Vestibulum varius pharetra lorem, in maximus libero placerat sed.</span></p>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="row">
                  @foreach (var item in Model)
                {
                <div class="col-md-6 col-lg-4 mb-5  appear-animation animated fadeInUpShorter appear-animation-visible " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card flip-card text-center rounded-0 ">
                        <div class="flip-front p-5 ">
                            <div class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block"><img src="@item.Icon" /></strong>
                                <h4 class="font-weight-bold text-color-primary text-4">@item.Title</h4>
                                <p>@item.Description</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex justify-content-center align-items-end p-5 color-2" style="background-image: url('@item.Image'); background-size: cover; background-position: center;">
                            <div class="flip-content my-4">
                                <div><a href="/PracticeAreas/Detail/@item.Id" class="btn color-2 btn-modern text-color-white font-weight-bold">DEVAMINI OKU</a></div>
                            </div>
                        </div>
                    </div>
                </div>
              }
            </div>

          
        </div>
    </div>   
    </div>