
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-dark font-weight-bold text-8">Post Full Width</h1>
                    <span class="sub-title text-dark">Check out our Latest News!</span>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="#">Home</a></li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-center mb-4">
                <h2 class="font-weight-bold text-8 mb-3 appear-animation animated fadeIn appear-animation-visible " data-appear-animation="fadeIn" style="animation-delay: 100ms;">Explore All Possibilities</h2>
                <p class="line-height-9 text-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;"><span class="opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat id sapien ac varius. Fusce hendrerit ligula a consectetur ullamcorper. Vestibulum varius pharetra lorem, in maximus libero placerat sed.</span></p>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card flip-card text-center rounded-0 ">
                        <div class="flip-front p-5 ">
                            <div class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block"><img src="~/img/law-icons/icon-is_hukuku.png" /></strong>
                                <h4 class="font-weight-bold text-color-primary text-4">İŞ HUKUKU</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex justify-content-center align-items-end p-5 color-2" style="background-image: url('/UI/image/Is_Hukuku.jpg'); background-size: cover; background-position: center;">
                            <div class="flip-content my-4">
                                <div><a href="#" class="btn color-2 btn-modern text-color-dark font-weight-bold">DEVAMINI OKU</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card flip-card text-center rounded-0 ">
                        <div class="flip-front p-5 ">
                            <div class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block"><img src="~/img/law-icons/icon-is_hukuku.png" /></strong>
                                <h4 class="font-weight-bold text-color-primary text-4">İŞ HUKUKU</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex justify-content-center align-items-end p-5 color-2" style="background-image: url('https://images.unsplash.com/photo-1682687982185-531d09ec56fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'); background-size: cover; background-position: center;">
                            <div class="flip-content my-4">
                                <div><a href="#" class="btn color-2 btn-modern text-color-dark font-weight-bold">DEVAMINI OKU</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card flip-card text-center rounded-0 ">
                        <div class="flip-front p-5 ">
                            <div class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block"><img src="~/UI/image/icons/icon-is_hukuku.png" /></strong>
                                <h4 class="font-weight-bold text-color-primary text-4">İŞ HUKUKU</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex justify-content-center align-items-end p-5 color-2" style="background-image: url('https://images.unsplash.com/photo-1682687982185-531d09ec56fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'); background-size: cover; background-position: center;">
                            <div class="flip-content my-4">
                                <div><a href="#" class="btn color-2 btn-modern text-color-dark font-weight-bold">DEVAMINI OKU</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card flip-card text-center rounded-0 ">
                        <div class="flip-front p-5 ">
                            <div class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block"><img src="~/img/law-icons/icon-is_hukuku.png" /></strong>
                                <h4 class="font-weight-bold text-color-primary text-4">İŞ HUKUKU</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex justify-content-center align-items-end p-5 color-2" style="background-image: url('https://images.unsplash.com/photo-1682687982185-531d09ec56fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'); background-size: cover; background-position: center;">
                            <div class="flip-content my-4">
                                <div><a href="#" class="btn color-2 btn-modern text-color-dark font-weight-bold">DEVAMINI OKU</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card flip-card text-center rounded-0 ">
                        <div class="flip-front p-5 ">
                            <div class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block"><img src="~/img/law-icons/icon-is_hukuku.png" /></strong>
                                <h4 class="font-weight-bold text-color-primary text-4">İŞ HUKUKU</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex justify-content-center align-items-end p-5 color-2" style="background-image: url('https://images.unsplash.com/photo-1682687982185-531d09ec56fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'); background-size: cover; background-position: center;">
                            <div class="flip-content my-4">
                                <div><a href="#" class="btn color-2 btn-modern text-color-dark font-weight-bold">DEVAMINI OKU</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card flip-card text-center rounded-0 ">
                        <div class="flip-front p-5 ">
                            <div class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block"><img src="~/img/law-icons/icon-is_hukuku.png" /></strong>
                                <h4 class="font-weight-bold text-color-primary text-4">İŞ HUKUKU</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex justify-content-center align-items-end p-5 color-2" style="background-image: url('https://images.unsplash.com/photo-1682687982185-531d09ec56fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'); background-size: cover; background-position: center;">
                            <div class="flip-content my-4">
                                <div><a href="#" class="btn color-2 btn-modern text-color-dark font-weight-bold">DEVAMINI OKU</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="call-to-action call-to-action-default with-button-arrow content-align-center aling-center call-to-action-in-footer ">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <div class="call-to-action-content">
                        <h2 class="font-weight-normal text-6 mb-0">Takımımıza katılmak <strong class="font-weight-extra-bold">ister misin?</strong></h2>
                        <p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> Sizi aramızda görmek isteriz.</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="call-to-action-btn">
                        <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3">Şimdi Başvur</a><span class="arrow hlb d-none d-md-block appear-animation animated rotateInUpLeft appear-animation-visible" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%; animation-delay: 100ms;"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>