@using LawFirmTemplate.Models;
@model Article;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">Makale Düzenle</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">Makale</h5>
                    <form method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="mb-3">
                                <label asp-for="Id" class="form-label">Id</label>
                                <textarea class="form-control" asp-for="Id" rows="1" readonly></textarea>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Title" class="form-label">Başlık</label>
                                <textarea class="form-control" asp-for="Title" rows="1"></textarea>
                            </div>
                            <div class="mb-3">
                                <div>
                                    <label asp-for="CardDescription" class="form-label">Kart Açıklaması</label>
                                    <textarea class="form-control" asp-for="CardDescription" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="CardImage" class="form-label">Kart Resmi</label>
                                <div class="d-flex align-items-start align-items-sm-center gap-4">
                                    <img src="@Model.CardImage" alt="user-avatar" class="d-block rounded" height="200" width="200">
                                    <div class="button-wrapper">
                                        <label for="CardImage" class="btn btn-primary me-2 mb-4" tabindex="0">
                                            <span class="d-none d-sm-block">Kart Resmi Ekle</span>
                                            <i class="bx bx-upload d-block d-sm-none"></i>
                                            <input type="file" id="CardImage" name="CardImage" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                                        </label>
                                        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="FullImage" class="form-label">Geniş Resim</label>
                                <div class="d-flex align-items-start align-items-sm-center gap-4">
                                    <img src="@Model.FullImage" alt="user-avatar" class="d-block rounded" height="200" width="600">
                                    <div class="button-wrapper">
                                        <label for="FullImage" class="btn btn-primary me-2 mb-4" tabindex="0">
                                            <span class="d-none d-sm-block">Geniş Resim Ekle</span>
                                            <i class="bx bx-upload d-block d-sm-none"></i>
                                            <input type="file" id="FullImage" name="FullImage" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                                        </label>
                                        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div>
                                    <label asp-for="Paragraph1" class="form-label">Paragraf1</label>
                                    <textarea class="form-control" asp-for="Paragraph1" rows="1"></textarea>
                                </div>
                            </div>                           
                            <div class="mb-3">
                                <button type="submit" class="btn btn-lg btn-primary mt-5 ">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

